fastapi
uvicorn
python-dotenv
pydantic
pydantic-settings
spacy
geopy
firebase-admin
urllib3>=1.26.15
cachecontrol
googlemaps
jinja2
pytest
pytest-mock
httpx
pytest-asyncio
requests
python-multipart
boto3
langchain
langchain-aws
langgraph
tenacity
